
.loadingscreen {
    @include fill-position-screen;
    background-color: $grey1;
    @include flex-col-center-center;
    gap: 15px;
    color: $text-color;
    z-index: 1;
    transition: transform 0.7s;
    

    .logo{
        width: 100px;
        height: 100px;
        background-color: $grey1;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 4fr;

        gap: 10px;

        div{
            height: 100%;
            background-color: $text-color;
        }

        div{
            height: 100%;
            background-color: $text-color;
        }

        div{
            height: 100%;
            background-color: $text-color;
        }

        div{
            height: 100%;
            background-color: $text-color;
        }


    }
}


