.view-time-page {
    @include fill-position-screen;
    @include flex-col-center-center;
    background-color: $light-grey;
    display: flex;
    transform: translateY(100%);
    transition: transform 0.7s;

        #time-display {
            font-size: 6rem;
            font-family: sans-serif;
        }

        .abort-btn{
            @include button;
        }
}